h2#yc_title{
    text-align: center;
    margin: 0 auto;
    color: yellow;
    padding: 10px 10px 10px 10px;
}

table#yc_table{
    margin: 0 auto;
    background-color: white;
    border-collapse: collapse;
}

th.yc_table_header{
    background-color: yellow;
    border: 1px solid black;
    width: 50px;
    text-align: center;
}

td.yc_unchecked_day{
    background-color: white;
    border: 1px solid black;
    width: 50px;
    text-align: center;
}

td.yc_checked_day{
    background-color: lightgreen;
    border: 1px solid black;
    width: 50px;
    text-align: center;
}
